@charset "UTF-8";
/* مثلا لبغيتي تحكم فمود الصفحة */
.page {
  background-color: white;
  color: black;
}

/* rounded or not اكونو cards مثلا لبغيتي ال */
/*
    if($rounded, 10px, null)
    طبق القيمة لي لوسط true يعني الا كان
    مكيدير والو compiler فاش كيلقاها ال null وبالنسبة ل null. الا لا دير
*/
.box {
  width: 100%;
  height: 200px;
  /* rounded */
  border-radius: 10px;
}